{{ range . }}
# Note
{{ if not .IsSingleRune }}
model: ch-en-audio
{{ else}}
model: ch-en
{{ end }}
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
{{ removeSpaces .Chinese }}
## Pinyin
{{ join .Pinyin }}
<br>
## English
{{ .English }}
## Audio
{{ audio .Chinese }}
## Components
## Examples
{{ end }}
