{{range .}}
model: Chinese
deck: Default
tags: HSK1
{{range .ComponentsDecompositions}}
# Note

## Hanzi
{{.Ideograph}}

## Readings
{{range .Readings}}{{.}}; {{end}}

## Definitions
{{range .Definitions}}{{.}}; {{end}}

## Audio
{{end}}

# Note

## Hanzi
{{.Ideograph}}

## Readings
{{range .Readings}}{{.}}; {{end}}

## Definitions
{{range .Definitions}}{{.}}; {{end}}

## Audio

{{end}}
