model: zh
deck: Gateway to Chinese
tags: Gateway to Chinese
# Note

## Hanzi
{{.Sentence.Chinese}}
## Pinyin
{{.Sentence.Pinyin}}
## English
{{.Sentence.EnglishLiteral}}
{{.Sentence.English}}

## Components
{{.Sentence.ChineseWords}}

## Audio
{{range .Decomposition}}
model: zh
deck: Gateway to Chinese
tags: Gateway to Chinese
# Note

## Hanzi
{{.Ideograph}}

## Pinyin
{{range .Readings}}{{.}}; {{end}}

## English
{{range .Definitions}}{{.}}; {{end}}

## Audio
{{range .Decompositions}}
model: zh
deck: Gateway to Chinese
tags: Gateway to Chinese

# Note

## Audio

## Hanzi
{{.Ideograph}}

## Pinyin
{{range .Readings}}{{.}}; {{end}}
{{if .OtherReadings}}
## Other Readings
{{range .OtherReadings}}{{.}}; {{end}}
{{end}}

## English
{{range .Definitions}}{{.}}; {{end}}
{{if .OtherDefinitions}}
## Other Definitions
{{range .OtherDefinitions}}{{.}}; {{end}}
{{end}}

{{end}}
{{end}}
