{{range .}}
model: Chinese
deck: Default
tags: HSK1
{{range .Decompositions}}
# Note

## Hanzi
{{.Ideograph}}

## Pinyin
{{range .Readings}}{{.}} {{end}}

## English
{{threeDefinitions .Definitions}}

## Audio
{{end}}

# Note

## Hanzi
{{.Ideograph}}

## Pinyin
{{range .Readings}}{{.}} {{end}}

## English
{{range .Definitions}}{{.}}, {{end}}

## Audio

{{end}}
