{{range .Decomposition}}
model: zh
deck: {{$.DeckName}}
tags:

# Note

## Hanzi
{{.Ideograph}}

## Pinyin
{{range .Readings}}{{.}} {{end}}

## English
{{range .Definitions}}{{.}} {{end}}

## Audio
{{ audio .Ideograph }}

## Components
{{.Ideograph}}

{{end}}

# Note

## Hanzi
{{.Sentence.Chinese}}

## Pinyin
{{.Sentence.Pinyin}}

## English
{{.Sentence.EnglishLiteral}}
{{.Sentence.English}}

## Audio
{{ audio .Sentence.Chinese }}

## Components
{{.Sentence.ChineseWords}}
