{{range .}}
model: Chinese
deck: Default
tags: HSK1
{{range .Decompositions}}
# Note

## Hanzi
{{.Ideograph}}

## Readings
{{range .Readings}}{{.}}; {{end}}
{{if .OtherReadings}}
## Other Readings
{{range .OtherReadings}}{{.}}; {{end}}
{{end}}

## Definitions
{{range .Definitions}}{{.}}; {{end}}
{{if .OtherDefinitions}}
## Other Definitions
{{range .OtherDefinitions}}{{.}}; {{end}}
{{end}}

## Audio
{{end}}

# Note

## Hanzi
{{.Ideograph}}

## Readings
{{range .Readings}}{{.}}; {{end}}

## Definitions
{{range .Definitions}}{{.}}; {{end}}

## Audio

{{end}}
