{{range .Decompositions}}
# Note
model: zh
deck: {{$.DeckName}}
tags: {{$.Tags}}

## Hanzi
{{.Hanzi.Ideograph}}
## Pinyin
{{listToString .Hanzi.Readings}}
## English
{{listToString .Hanzi.Definitions}}
## Audio
{{ audio .Hanzi.Ideograph }}
## Components
Components:
{{components .Hanzi.ComponentsDecompositions}}
## Kangxi:
Kangxi:
{{kangxi .Hanzi.ComponentsDecompositions}}
## Equivalents
Equivalents: {{listToString .Hanzi.Equivalents}}
## Traditional
Traditional: {{listToString .Hanzi.IdeographsTraditional}}
## Example
Example: {{.Example}}
{{end}}

# Note
model: zh
deck: {{$.DeckName}}
tags: {{$.Tags}}

## Hanzi
{{.Sentence.Chinese}}
## Pinyin
{{.Sentence.Pinyin}}
## English
{{.Sentence.English}}
## Audio
{{ audio .Sentence.Chinese }}
## Components
Components:
{{sentenceComponents .Sentence.ChineseWords .AllDecompositions}}
## Kangxi
## Equivalents
## Traditional
## Example
