{{range .Decompositions}}
# Note
model: zh
deck: {{$.DeckName}}

## Hanzi
{{.Ideograph}}
## Pinyin
{{listToString .Readings}}
## English
{{listToString .Definitions}}
## Audio
{{ audio .Ideograph }}
## Components
Components:
{{components .ComponentsDecompositions}}
Kangxi:
{{kangxi .ComponentsDecompositions}}
## Equivalents
Equivalents: {{listToString .Equivalents}}
## Traditional
Traditional: {{listToString .IdeographsTraditional}}
## Kangxi
{{end}}

# Note
model: zh
deck: {{$.DeckName}}
## Hanzi
{{.Sentence.Chinese}}
## Pinyin
{{.Sentence.Pinyin}}
## English
{{.Sentence.English}}
## Audio
{{ audio .Sentence.Chinese }}
## Components
Components:
{{sentenceComponents .Sentence.ChineseWords .AllDecomposition}}
## Kangxi
## Equivalents
## Traditional
